
/* PC*/
@media screen and (min-width: 1024px){
   
}
/* Tablet*/ 
@media screen and (min-width: 768px) and (max-width: 1023px){
    .nav-right{
        display: none;
    }
    .dishes-item{
        border-right: unset;
    }
    .content_about-item {
       top: unset;
    }
    .content-mb-tablet{
        margin-top: 355px!important;
    }
}
/* Mobile */
@media screen and (max-width: 767px){
    .nav-right{
        display: none;
    }
    .dishes-item{
        border-right: unset;
    }
    .content_about-item {
        top: unset;
     }
     .content-mb-tablet{
        margin-top: 355px!important;
    }
}